
.row{
    width: 100%;
    height: 100%;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
}

.table{
    width: 100%;
    height: 50%;
    text-align: center;
}

.bubble2{
    color: pink;
    margin: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    display: inline-block;
    opacity: 10%;
    border-radius: 50%;
    border: 5px solid red;

}

.lachy{
    background-image: url(https://i.imgur.com/bwqNyNm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hannah{
    background-image: url(https://i.imgur.com/yaumRZo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.on{
    opacity: 100%;

    border: 5px solid #CFFB5B;
}

.off{
  
}


